.identify-subproblems-container {
    /*margin:auto;*/
}

.identify-subproblems-container .ideate {
    /*border: 1px solid gray;*/
    /*border-radius: 5px;*/
    padding: 10px;
    margin: 0 auto;
    /*margin:auto;*/
}

.toggle {
  font-size: 14px;
  font-weight: normal;
}

.instructions {
  /*padding-bottom: 5px;
  border-bottom: 1px solid #E2E2E2;*/
}

.finish-tutorial-container {
  margin-bottom: 10px;
  text-align: center;
}

.identify-subproblems-container .abstract-text {
    /*border: 1px solid black;*/
    width:90%;
    background-color: cornsilk;
    padding: 5px 15px 5px 15px;
    font-size: 14px;
    /*margin-bottom: 10px;*/
    margin: auto;
}

.problem {
    background-color: white;
    padding: 15px 15px 5px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 2px #F8F8F8;
}

.identify-subproblems-container .solution-descr-content, .problem-descr-content {
  padding-left: 20px;
}

.identify-subproblems-container .card-delete {
  color: red;
}

.identify-subproblems-container .edit-problem {
  text-align: right;
  cursor: pointer;
}

.identify-subproblems-container .problem-entry-container {
    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
    padding-top: 5px;
    padding-bottom: 5px;
}

.identify-subproblems-container .problem-entry-controls {
    margin-top: 5px;
    margin-bottom: 5px;
    /*padding-top: 5px;*/
    /*padding-bottom: 5px;*/
}

.identify-subproblems-container .submit-problem {
    /*font-size: 16px;*/
    /*font-family: sans-serif;*/
    float:right;
    margin-right:15px;
    /*border-radius: 5px;*/
}

.example-problem {
    background-color: #dff7c3;
    padding: 15px 15px 5px 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 4px 4px 2px #F8F8F8;
}

.finish-task {
  float:right;
  margin-right: 15px;
  margin-bottom: 15px;
}

.identify-subproblems-container .problem-list {
    max-height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    /*background-color: #E2E2E2;*/
    /*margin-top: 10px;*/
}

.identify-subproblems-container .example-problem-list {
    max-height: 500px;
    overflow-x: hidden;
    overflow: scroll;
    /*background-color: #E2E2E2;*/
    /*margin-top: 10px;*/
}

.identify-subproblems-container .problem-list-header {
    border-top: 1px solid #E2E2E2;
    border-bottom: none;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
}
